@use "../variables/menu-size" as ms;
@use "../variables/colors" as c;

.main-header{
   padding: 1.5rem;
   display: flex;
   flex-direction: column;
   
   @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
   }
}

.top-bar{
   width: 100%;
   margin-left: auto;
   margin-right: auto;

   @media screen and (min-width: 768px){
      width: 20%;
      margin: 0;
   }

   @media screen and (max-width: 768px){
      max-width: 670px;
   }

   display: flex;
   align-items: flex-start;
   position: relative;
      z-index: 1000;

   &__logo{
      margin-right: auto;
      
      @media screen and (min-width: 768px){
         margin: auto;
      }
   }
   
   &__icon-menu{
      cursor: pointer;
      width: ms.$width;
      height:  ms.$height;
      background-image: url(../../assets/img/icon-hamburger.svg);
      background-repeat: no-repeat;

      @media screen and (min-width: 768px){
         display: none;
      }

      &--active{
         background-image: url(../../assets/img/icon-close-menu.svg);
      }
   }
}

.menu{
   border-radius: 1rem;
   padding-left: 0;
   list-style: none;
   display: none;

   @media screen and (max-width: 768px){
      &--active{
         animation: show 1s 1;
         position: fixed;
         z-index: 100;
         display: block;
         background-color: #fff;
         width: 90%;
      }

      @media screen and (min-width: 500px){
         width: 93%;
      }
   }
   
   @media screen and (min-width: 768px){
      justify-self: flex-start;
      display: flex;
      width: 100%;
      margin-left: auto;
   }
   

   &__item{
      
      @media screen and (max-width: 768px){
         font-weight: 700;
         padding: 1rem 0 2rem 1rem;

         &:first-child,
         &:nth-child(2){
            border-bottom: 1px solid c.$gray;
         }
      }

      @media screen and (min-width: 768px){
         margin-left: 1.5rem;
      }
      
   }

   &__link{
      text-decoration: none;
      color: c.$black;
      padding-right: 1.5rem;

      @media screen and (min-width: 768px){
         color: #fff;
      }
   }
}

@media screen and (max-width: 768px){
   .background-menu{
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;
      width: 100vw;
      height: 100%;
      overflow: hidden;
      background-image: linear-gradient(rgba(#000,0.7), rgba(#000,0.3));
      display: none;

      &--active{
         display: block;
      }
   }
}


