doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title Crowdfunding product page
      //- Favicons
      link(rel="apple-touch-icon", sizes="57x57", href="assets/favicons/apple-icon-57x57.png")
      link(rel="apple-touch-icon", sizes="60x60", href="assets/favicons/apple-icon-60x60.png")
      link(rel="apple-touch-icon", sizes="72x72", href="assets/favicons/apple-icon-72x72.png")
      link(rel="apple-touch-icon", sizes="76x76", href="assets/favicons/apple-icon-76x76.png")
      link(rel="apple-touch-icon", sizes="114x114", href="assets/favicons/apple-icon-114x114.png")
      link(rel="apple-touch-icon", sizes="120x120", href="assets/favicons/apple-icon-120x120.png")
      link(rel="apple-touch-icon", sizes="144x144", href="assets/favicons/apple-icon-144x144.png")
      link(rel="apple-touch-icon", sizes="152x152", href="assets/favicons/apple-icon-152x152.png")
      link(rel="apple-touch-icon", sizes="180x180", href="assets/favicons/apple-icon-180x180.png")
      link(rel="icon" type="image/png", sizes="192x192",  href="assets/favicons/android-icon-192x192.png")
      link(rel="icon" type="image/png", sizes="32x32", href="assets/favicons/favicon-32x32.png")
      link(rel="icon" type="image/png", sizes="96x96", href="assets/favicons/favicon-96x96.png")
      link(rel="icon" type="image/png", sizes="16x16", href="assets/favicons/favicon-16x16.png")
      link(rel="manifest" href="assets/favicons/manifest.json")
      meta(name="msapplication-TileColor", content="#ffffff")
      meta(name="msapplication-TileImage", content="/ms-icon-144x144.png")
      meta(name="theme-color", content="#ffffff")
      //- Font Awesome
      link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.15.2/css/all.css", integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu", crossorigin="anonymous")
      //- Fonts
      link(rel="preconnect", href="https://fonts.gstatic.com")
      //- Commissioner
      link(href="https://fonts.googleapis.com/css2?family=Commissioner:wght@200;400;500;700&display=swap", rel="stylesheet")
      //- CSS
      link(rel="stylesheet", href="css/styles.css")
   body
      header.main-header#header
         .top-bar
            img.top-bar__logo(src="assets/img/logo.svg", alt="crowfound logo")
            .top-bar__icon-menu#menu-button
         .background-menu#bg-menu
         nav.main-header__nav
            ul.menu#menu
               li.menu__item 
                  a.menu__link(href="#") About
               li.menu__item 
                  a.menu__link(href="#") Discover
               li.menu__item 
                  a.menu__link(href="#") Get Started
      article.article#article
         header.article__header
            h1.article__title Mastercraft Bamboo Monitor Riser
            h2.article__subtitle A beautiful & handcrafted monitor stand to reduce neck and eye strain.
            .article__buttons
               a(href="#").article__back-button Back this project
               a.bookmarks(href="#") 
                  span.bookmarks__icon
                  span.bookmarks__text Bookmark
         .collected
            ul.collected__list 
               li.collected__item 
                  span.collected__number#collected 
                  span.collected__backed#collected-total 
               li.collected__item 
                  span.collected__number#backers
                  span.collected__backed total backers
               li.collected__item 
                  span.collected__number 56 
                  span.collected__backed days left
            .collected__bar
               span.collected__progress#progress
         section.about 
            h3.about__title About this project
            p.about__text The Mastercraft Bamboo Monitor Riser is a sturdy and stylish platform that elevates your screen to a more comfortable viewing height. Placing your monitor at eye level has the potential to improve your posture and make you more comfortable while at work, helping you stay focused on the task at hand.
            p.about__text Featuring artisan craftsmanship, the simplicity of design creates extra desk space below your computer to allow notepads, pens, and USB sticks to be stored under the stand.
            article.card 
               header.card__header
                  h4.card__title Bamboo Stand
                  h5.card__subtitle Pledge $25 or more
               p.card__text You get an ergonomic stand made of natural bamboo. You've helped us launch our promotional campaign, and you’ll be added to a special Backer member list.
               footer.card__footer 
                  p.card__days 
                     span.card__number-days 101 
                     span.card__number-left left
                  a.card__link(href="#") Select Reward 
            article.card 
               header.card__header
                  h4.card__title Black Edition Stand
                  h5.card__subtitle Pledge $75 or more
               p.card__text You get a Black Special Edition computer stand and a personal thank you. You’ll be added to our Backer member list. Shipping is included.
               footer.card__footer
                  p.card__days 
                     span.card__number-days 64  
                     span.card__number-left left
                  a.card__link(href="#") Select Reward 
            article.card.card--off 
               header.card__header
                  h4.card__title Mahogany Special Edition
                  h5.card__subtitle Pledge $200 or more
               p.card__text You get two Special Edition Mahogany stands, a Backer T-Shirt, and a personal thank you. You’ll be added to our Backer member list. Shipping is included.
               footer.card__footer
                  p.card__days 
                     span.card__number-days 0 
                     span.card__number-left left
                  a.card__link.card__link--off(href="#") Out of Stock
      .modal-bg#modal-bg
      article.modal#modal
         h2.modal__title Back this project
         h3.modal__subtitle Want to support us in bringing Mastercraft Bamboo Monitor Riser out in the world?

         form(action="#").modal-card 
            .modal-card__main
               .modal-card__inputs
                  input.modal-card__checkbox(type="checkbox" id="no-reward-checkbox" name="no-reward", data-id="1")
                  label.modal-card__label(for="no-reward-checkbox")
                     span.modal-card__name Pledge with no reward
               p.modal-card__text Choose to support us without a reward if you simply believe in our project. As a backer, you will be signed up to receive product updates via email.
            .modal-card__selected(data-id="1")
               label.modal-card__number-label(for="no-reward-number") Enter your pledge
               .modal-card__number-buttons
                  span.modal-card__number-name
                     input.modal-card__number-input(type="number" name="number" id="no-reward-number" value="25" min="25" required)
                  button.modal-card__submit(type="submit") Continue
         form(action="#").modal-card 
            .modal-card__main
               .modal-card__inputs
                  input.modal-card__checkbox(type="checkbox", id="bamboo-checkbox", name="bamboo", data-id="2")
                  label.modal-card__label(for="bamboo-checkbox")
                     span.modal-card__name Bamboo Stand
                     span.modal-card__pledge Pledge $25 or more
               p.modal-card__text You get an ergonomic stand made of natural bamboo. You've helped us launch our promotional campaign, and you’ll be added to a special Backer member list.
               p.modal-card__days 
                  span.modal-card__number-days 101 
                  span.modal-card__number-left left
            .modal-card__selected(data-id="2")
               label.modal-card__number-label(for="bamboo-number") Enter your pledge
               .modal-card__number-buttons
                  span.modal-card__number-name
                     input.modal-card__number-input(type="number", name="number", id="bamboo-number", value="25", min="25", required)
                  button.modal-card__submit(type="submit") Continue
         form(action="#").modal-card 
            .modal-card__main
               .modal-card__inputs
                  input.modal-card__checkbox(type="checkbox", id="black-edition-checkbox", name="bamboo", data-id="3")
                  label.modal-card__label(for="black-edition-checkbox")
                     span.modal-card__name Black Edition Stand
                     span.modal-card__pledge Pledge $75 or more
               p.modal-card__text You get a Black Special Edition computer stand and a personal thank you. You’ll be added to our Backer member list. Shipping is included.
               p.modal-card__days 
                  span.modal-card__number-days 64 
                  span.modal-card__number-left left
            .modal-card__selected(data-id="3")
               label.modal-card__number-label(for="black-edition-number") Enter your pledge
               .modal-card__number-buttons
                  span.modal-card__number-name
                     input.modal-card__number-input(type="number", name="number", id="black-edition-number", value="75", min="75", required)
                  button.modal-card__submit(type="submit") Continue
         form(action="#").modal-card.modal-card--off
            .modal-card__main
               .modal-card__inputs
                  input.modal-card__checkbox(type="checkbox", id="mahogany-checkbox", name="bamboo", disabled, data-id="4")
                  label.modal-card__label(for="mahogany-checkbox")
                     span.modal-card__name Mahogany Special Edition
                     span.modal-card__pledge Pledge $200 or more
               p.modal-card__text You get two Special Edition Mahogany stands, a Backer T-Shirt, and a personal thank you. You’ll be addedto our Backer member list. Shipping is included.
               p.modal-card__days 
                  span.modal-card__number-days 0
                  span.modal-card__number-left left
            .modal-card__selected(data-id="4")
               label.modal-card__number-label(for="mahogany-number") Enter your pledge
               .modal-card__number-buttons
                  span.modal-card__number-name
                     input.modal-card__number-input(type="number", name="number", id="mahogany-number", value="200", min="200", required, disabled)
                  button.modal-card__submit(type="submit") Continue
         .modal__close-button
      article.modal-completed#modal-completed
         .modal-completed__image 
         h2.modal-completed__title Thanks for your support!
         p.modal-completed__text Your pledge brings us one step closer to sharing Mastercraft Bamboo Monitor Riser worldwide. You will get an email once our campaign is completed.
         a.modal-completed__button(href="#") Got it! 
      script(src="js/scripts-min.js") 